<ng-container>
    <cen-progress-bar [progress]="50" [color]="'#ff0040'"></cen-progress-bar>

    <div>
        Following code snippet will add Progressbar.<br> 
        <b>progress</b> property denotes the current value of progress.Keep it between 0 to 100<br>
        <b>color</b> property will choose the color of progress bar.Pass color in HEX format, If not provided then blue will be set as default color(#0080ff)
    </div>
</ng-container>

<pre>
    <code [innerText]="code">        
    </code>
</pre>